.navbar-section {
    color: #141414;
    padding: 1.8% 3% 4% 3%;
    
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);*/
  }
  
  .navbar {
    padding: 0 35px 25px 35px;
    background-color: #fff;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }
  
  
      .brand-img {
        width: 70px;
      }
  
      .nav-item{
        padding: 0 18px;
      }
      .nav-link{
        font-family: Axiforma-light;
        font-size: 1rem;
        color: #141414;
        display: inline-block;
        position: relative;
      }
  
  .nav-link::after {
    background-color: #60b801;
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    padding-top: 3px;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .navbar-btn {
    background: #00112c;
    border: none;
    outline: none;
    position: relative;
   
    padding: 10px 40px;
    color: #fff;
  }
  
  
 
  
  .navbar-btn:hover::before, .btn:hover::after {
    width: 100%;
  }
  .btn-primary {
    border-color: transparent!important;
}
.nbtn-1 {
  margin-right: 10px;
  background-color: #00112c;
}
.nbtn-1:hover {
  background-color: #00112cc7;
}
.nbtn-2 {
  background-color: #60b801;
}
.nbtn-2:hover {
  background-color: #60b801c7;
}
 .nbtn-1:focus {
  color: #fff;
  background-color: #00112c!important;
  border-color: #00112c!important;
  box-shadow: 0 0 0 .25rem rgba(2, 17, 41, 0.5)!important;
}
.nbtn-2:focus {
  color: #fff;
  background-color: #60b801!important;
  border-color: #60b801!important;
  box-shadow: 0 0 0 .25rem rgba(81, 240, 13, 0.5)!important;
}


@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .navbar-section {
    padding: 0px 0px 25px 0px;
  }
  .navbar {
    padding: 0% 1.2rem;
  }
  .navbar-btn {
    width: 100px;
    margin-bottom: 15px;
  }
  .nbtn-1 {
    margin-bottom: 10px;
    width: 150px;
  }
  .nbtn-2 {
    padding: 5px 5px;
    width: 150px;
    margin-bottom: 5px;
  }
  .nav-link::after {
    width: 60px;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .navbar-btn {
    padding: 10px 15px;
  }
}

